language: go
sudo: false
go:
  - 1.9
  - 1.10.x
  - 1.11.x
  - 1.12.x
  - master

cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod

install:
  - go get -u github.com/golang/dep/cmd/dep
  - dep ensure

script:
  - ./.travis.gofmt.sh
  - make guerrillad
  - make test
