{
    "GM_ALLOWED_HOSTS":"example.com,sample.com,foo.com,bar.com",
    "GM_MAIL_TABLE":"new_mail",
    "GM_PRIMARY_MAIL_HOST":"mail.example.com",
    "GSMTP_HOST_NAME":"mail.example.com",
    "GSMTP_LOG_FILE":"",
    "GSMTP_MAX_SIZE":"15728640",
    "GSMTP_PRV_KEY":"/etc/ssl/private/example.com.key",
    "GSMTP_PUB_KEY":"/etc/ssl/certs/example.com.crt",
    "GSMTP_TIMEOUT":"100",
    "GSMTP_VERBOSE":"N",
    "GSTMP_LISTEN_INTERFACE":"33.1.2.133:25",
    "MAX_SMTP_CLIENTS":"10000",
    "MYSQL_DB":"gmail_mail",
    "MYSQL_HOST":"127.0.0.1:3306",
    "MYSQL_PASS":"$ecure1t",
    "MYSQL_USER":"gmail_mail",
    "GM_MAX_CLIENTS":"500",
	"NGINX_AUTH_ENABLED":"N",
	"NGINX_AUTH":"127.0.0.1:8025",
    "SGID":"508",
	"GUID":"504"
}
