{
    "log_file" : "stderr",
    "log_level" : "info",
    "allowed_hosts": [
      "guerrillamail.com",
      "guerrillamailblock.com",
      "sharklasers.com",
      "guerrillamail.net",
      "guerrillamail.org"
    ],
    "pid_file" : "/var/run/go-guerrilla.pid",
    "backend_config": {
        "log_received_mails": true,
        "save_workers_size": 1,
        "save_process" : "HeadersParser|Header|Debugger",
        "primary_mail_host" : "mail.example.com",
        "gw_save_timeout" : "30s",
        "gw_val_rcpt_timeout" : "3s"
    },
    "servers" : [
        {
            "is_enabled" : true,
            "host_name":"mail.test.com",
            "max_size": 1000000,
            "private_key_file":"/path/to/pem/file/test.com.key",
            "public_key_file":"/path/to/pem/file/test.com.crt",
            "timeout":180,
            "listen_interface":"127.0.0.1:25",
            "start_tls_on":true,
            "tls_always_on":false,
            "max_clients": 1000,
            "log_file" : "stderr"
        },
        {
            "is_enabled" : false,
            "host_name":"mail.test.com",
            "max_size":1000000,
            "private_key_file":"/path/to/pem/file/test.com.key",
            "public_key_file":"/path/to/pem/file/test.com.crt",
            "timeout":180,
            "listen_interface":"127.0.0.1:465",
            "start_tls_on":false,
            "tls_always_on":true,
            "max_clients":500,
            "log_file" : "stderr"
        }
    ]
}
